.head
{
	font-size:300%;
	text-align:center;
}

.main
{
	font-size:130%;
}

.grid-item , .grid-item2 , .grid-item1{
	border: 3px solid rgba(0,0,0);
	margin-bottom: 10px;
}

.info , .state , .pop, .head{
	padding: 5px;
	margin: 0px;
}

.state {
	font-size:200%;
}

.grid-item{
	height:38vh;
}

.collapse.navbar-collapse{
	background-color:transparent;
}

.spec, html{
	padding:15px;
	background:rgb(240,240,240);
}

