.head
{
	font-size:300%;
	text-align:center;
}

.main
{
	font-size:130%;
}

.grid-item , .grid-item2 {
	border: 3px solid rgba(0,0,0);
	margin-bottom: 10px;
}

.info , .state , .pop, .head{
	padding: 5px;
	margin: 0px;
}

.state {
	font-size:200%;
}


.collapse.navbar-collapse{
	background-color:transparent;
}

 html , .head , .main{
	padding:15px;
	background:rgb(240,240,240);
}

.sub{
	margin:5px;
	font-size:110%;
}

.info{
	border-bottom:3px solid rgba(0,0,0);
	border-left:3px solid rgba(0,0,0);
	border-right:3px solid rgba(0,0,0);
	margin-bottom:5px;
}

.sub{
	border-top:3px solid rgba(0,0,0);
	border-left:3px solid rgba(0,0,0);
	border-right:3px solid rgba(0,0,0);
	margin:0px;
	padding:5px;
}

.spec{
	background:rgb(240,240,240);
}