<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='start.css')}}">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Drug Use</a>
			<div  id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="page1">Usage By Sate </a>
					</li>
					<li class="nav-item">
                     <a class="nav-link" href="page2">Specific Usage</a>
					</li>
				</ul>
			</div>
		</nav>
		<p class = "head">
			Drug Usage In America
		</p>
		<p class = "main">
			Drug usage and drug abuse was and still is prevalent in America. This usage is so widespread in the states it is considered our culture. 
			This Website is to inform and educate the user about the usage of drugs in the U.S.
			<br>
			<br>
			This website will not only tell you the usage of drugs in the U.S (both in percentages and raw numbers). It will also show the abuse of drugs in the U.S. 
			Drug abuse (or substance abuse) is when an individual forms a habit, addiction, or overuses addictive or illegal drugs.<a href= "http://www.healthinaging.org/aging-and-health-a-to-z/topic:drug-and-substance-abuse/">(source)</a>
			 Drug abuse can be directly tied to drug dependency. Some one who is drug dependent is someone who can not function properly unless under the influence of drugs.
			<a href="https://www.drugabuse.gov/publications/teaching-packets/neurobiology-drug-addiction/section-iii-action-heroin-morphine/8-definition-dependence">(source)</a>
			 This can lead to withdraws and in turn more drug use.
			<br>
			<br>
			Illicit drugs are also referenced in this website. Illicit drugs are essentially any highly addictive or illegal substances such as heroin, marijuana or meth.
			Illicit drugs are the biggest problems when it comes to drug use and are often used in secret.Therefore these drugs are hard to track treat and keep data for.
			<a href="https://www.addictioncenter.com/drugs/illicit-drugs/">(source)</a>
			<br>
			<br>
			Lastly population of drug risk perception is mentioned in this website. Risk perception is what people think about the drugs in question. Therefor population of drug risk perception is the population 
			that is aware of the harmful risks of these drugs.<a href="https://en.wikipedia.org/wiki/Risk_perception">(source)</a>
		</p>
	</body>
</html>