<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{{url_for('static', filename='start.css')}}">
   </head>
   <body>
      <div class="spec">
         <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Drug Use</a>
            <div id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home </a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="page1">Usage By Sate <span class="sr-only">(current)</span></a>
                  </li>
				  <li class="nav-item active">
                     <a class="nav-link" href="page1">Usage By Country</a>
                  </li>
               </ul>
            </div>
         </nav>
         <p class = "head">
            Usage By State
         </p>
         <div class="row">
            <div class="col-sm">
               <div class="grid-item">
                  <form action="/page1">
                     <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="state">
                           <option selected>State...</option>
                           {{options1}}
                        </select>
                        <div class="input-group-append">
                           <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm">
               <div class="grid-item">
                  <p class="state">
                     {{selectedState}}
                  </p>
                  <p class="pop">
                     {{overallpop}}
                  </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm">
			<div class="grid-item">
				<p class="sub">Marijuana Usage (people)</p>
                  <p class="info">
                     {{newMarP}}
                     <br>
                     <br>
                     {{monMarP}}
                     <br>
                     <br>
                     {{yearMarP}}
                     <br>
                     <br>
                     {{perMarP}}
                  </p>
            </div>
			<div class="grid-item">
				<p class="sub">Marijuana Usage (percent)</p>
                  <p class="info">
                     {{newMarO}}
                     <br>
                     <br>
                     {{monMarO}}
                     <br>
                     <br>
                     {{yearMarO}}
                     <br>
                     <br>
                     {{perMarO}}
                  </p>
            </div>
			</div>
            <div class="col-sm">
			<div class="grid-item">
			   <p class="sub">Tobacco Usage (people)</p>
                  <p class="info">
                     {{newTobP}}
                     <br>
                     <br>
                     {{monTobP}}
                     <br>
                     <br>
                     {{perTobP}}
                  </p>
            </div>
			<div class="grid-item">
			   <p class="sub">Tobacco Usage (percent)</p>
                  <p class="info">
                     {{newTobO}}
                     <br>
                     <br>
                     {{monTobO}}
                     <br>
                     <br>
                     {{perTobO}}
                  </p>
            </div>
			</div>
            <div class="col-sm">
			<div class="grid-item">
				<p class="sub">Alcohol Usage (people)</p>
                  <p class="info">
                     {{abuAlcP}}
                     <br>
                     <br>
                     {{perAlcP}}
                     <br>
                     <br>
                     {{depAlcP}}
                     <br>
                     <br>
                     {{monAlcP}}
                     <br>
                     <br>
                     {{treAlcP}}
                  </p>
            </div>
			<div class="grid-item">
				<p class="sub">Alcohol Usage (percent)</p>
                  <p class="info">
                     {{abuAlcO}}
                     <br>
                     <br>
                     {{perAlcO}}
                     <br>
                     <br>
                     {{depAlcO}}
                     <br>
                     <br>
                     {{monAlcO}}
                     <br>
                     <br>
                     {{treAlcO}}
                  </p>
            </div>
         </div>
      </div>
	  </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </body>
</html>