<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
	<link rel="stylesheet" href="{{url_for('static', filename='start.css')}}">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Drug Use</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Home </a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="page1">Usage By Sate <span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</nav>
		<p class = "head">
			Usage By State
		</p>
		<div class="grid-item1">
		<form action="/page1">
		<div class="input-group">
			<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="state">
			<option selected>State...</option>
			{{options1}}
			</select>
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="submit">Button</button>
		</div>
		</div>
		</form>
		</div>
		<div class="grid-item2">
			<p class="state">
				{{selectedState}}
			</p>
			<p class="pop">
				{{overallpop}}
			</p>
		</div>
			
		<div class="grid-item">
			<p class="info">
				{{newMar}}
				<br>
				<br>
				{{monMar}}
				<br>
				<br>
				{{yearMar}}
				<br>
				<br>
				{{perMar}}
				</p>
			</div>
			<div class="grid-item">
				<p class="info">
				{{newTob}}
				<br>
				<br>
				{{monTob}}
				<br>
				<br>
				{{perTob}}
				</p>
			</div>
			<div class="grid-item">
				<p class="info">
				{{abuAlc}}
				<br>
				<br>
				{{perAlc}}
				<br>
				<br>
				{{depAlc}}
				<br>
				<br>
				{{monAlc}}
				<br>
				<br>
				{{treAlc}}
				</p>
				</div>
				 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
				  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>