<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
	<link rel="stylesheet" href="{{url_for('static', filename='start.css')}}">
	</head>
	<body>
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href=".">Drug Usage In America</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Main</a></li>
				<li class="active"}><a href="/page1">Usage By State</a></li> 
			</ul>
		</div>
		</nav>
		<p class = "head">
			Usage By State
		</p>
		<div class="grid-item1">
		<form action="/page1">
		<div class="input-group">
	
			<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="state">
			<option selected>State...</option>
			{{options1}}
			</select>
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="submit">Button</button>
		</div>
		</div>
		</form>
		</div>
		<div class="grid-item2">
			<p class="state">
				{{selectedState}}
			</p>
			<p class="pop">
				{{overallpop}}
			</p>
		</div>
			
		<div class="grid-item">
			<p class="info">
				{{newMar}}
				<br>
				<br>
				{{monMar}}
				<br>
				<br>
				{{yearMar}}
				<br>
				<br>
				{{perMar}}
				</p>
			</div>
			<div class="grid-item">
				<p class="info">
				{{newTob}}
				<br>
				<br>
				{{monTob}}
				<br>
				<br>
				{{perTob}}
				</p>
			</div>
			<div class="grid-item">
				<p class="info">
				{{abuAlc}}
				<br>
				<br>
				{{perAlc}}
				<br>
				<br>
				{{depAlc}}
				<br>
				<br>
				{{monAlc}}
				<br>
				<br>
				{{treAlc}}
				</p>
				</div>
	</body>
</html>