<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{{url_for('static', filename='start.css')}}">
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <script>
         window.onload = function () {
	
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	
	title:{
		text:"Top 20 State Usage"
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "rgba(1,77,101,.2)",
		gridColor: "rgba(1,77,101,.1)",
		title: "Number of Companies"
	},
	data: [{
		type: "bar",
		name: "companies",
		axisYType: "secondary",
		color: "#014D65",
		dataPoints: [
			{{data}}
		]
	}]
});
chart.render();

}
      </script>
   </head>
   <body>
      <div class="spec">
         <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Drug Use</a>
            <div id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="page1">Usage By Sate </a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="page2">Specific Usage <span class="sr-only">(current)</span></a>
                  </li>
               </ul>
            </div>
         </nav>
         <div class="row">
            <div class="col-sm">
               <div class="grid-item">
                  <form action="/page2">
                     <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="rate">
                           <option selected>Rate...</option>
                           {{options2}}
                        </select>
                        <div class="input-group-append">
                           <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
         <script src="/https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js/canvasjs.min.js"></script>
      </div>
   </body>
</html>